.text_layout{
    h1{
        color: #181E4B;
        font-family: 'Volkhov', serif;
    }
    button{
        color: #fff;
        background-color: #DF6951;
        padding: .5rem 1rem;
        width: fit-content;
        border-radius: 5px;
    }
}