
.card{
    width: 250px;

    .card_image{
        position: relative;

        span{
            position: absolute;
            width: 80px;
            height: 80px;
            bottom: -25%;
            left: 5%;
        }
    }
}

.icon{
    font-size: 1rem;
}
.color{
    color: #DF6951;
}
.btn{
    width: fit-content;
    padding: .5rem 1rem;
    background-color: #DF6951;
    border-radius: 5px;
    color: #fff;
    margin-top: 1rem;
}